<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/admin.css">
    <title>Cameroun| le webmaster</title>
</head>

<body>
    <%- include('../partials/sidebar'); %>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search..">
                    <button type="submit"><img src="./img/search.png" alt=""></button>
                </div>
                <div class="user">
                    <a href="#" class="btn">Add New</a>
                    <img src="../img/notifications.png" alt="">
                    <div class="img-case">
                        <img src="../img/user-line.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>2194</h1>
                        <h3>Day Requests</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../img/women-fill.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>53</h1>
                        <h3>Payment</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../img/men-fill (1).png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>5</h1>
                        <h3>user</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../img/footprint-fill.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>350000</h1>
                        <h3>all requests</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../img/shopping-bag-fill.png" alt="">
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Admin</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>mail</th>
                            <th>password</th>
                        </tr>
                        <tr>
                            <% for(i=0; i<result.length; i++){ %>
                                <tr>
                                    <td><%= result[i].IdA %></td>
                                    <td><%= result[i].NomA %></td>
                                    <td><%= result[i].mailA %></td>
                                    <td><%= result[i].pwdA %></td>
                                </tr>
                            <%} %>
                        </tr>
                    </table>
                    
                </div>
<!--                 
                <div class="new-students">
                    <div class="title">
                        <h2>New Students</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>infos</th>
                        </tr>
                        <% for(i=0; i<result.length; i++){ %>
                            <tr>
                                <td><%= result[i].IdA %></td>
                                <td><%= result[i].NomA %></td>
                                <td><img src="./img/info.png" alt=""></td>
                            </tr>
                        <%} %>
                        
                    </table>
                </div> -->
                
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>user</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>mail</th>
                            <th>password</th>
                        </tr>
                        <tr>
                            <% for(i=0; i<result.length; i++){ %>
                                <tr>
                                    <td><%= result[i].Idc %></td>
                                    <td><%= result[i].NomC %></td>
                                    <td><%= result[i].mailC %></td>
                                    <td><%= result[i].pwdC%></td>
                                </tr>
                            <%} %>
                        </tr>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./js/scriptA.js"></script>
</html>